<div id="cardapio">
    <div class="d-flex justify-content-center">
        <h2 class="d-flex justify-content-center mt-5 ">Conheça nossos produtos e peça já: </h2>
    </div>
    <div>
       <a href="/pagina-cardapio" target="_blank" class="d-flex justify-content-center link mt-4"> <button class="btn-laranja" type="button"><h4>Confira nosso cardapio</h4></button></a>
    
    <div class="d-flex justify-content-center img-queijo">
        <a href="/pagina-cardapio"> <img src="https://i.imgur.com/b7C8Z89.png" alt="Queijo na tabua" width="800px"></a>
    </div>
</div>