#cardapio{
    background-color: #dcdcdc;
}

p{
    color: #181818;
}

/* Configurações da imagem do queijo */

.img-queijo{
    margin-top: 4%;
    margin-left: 0%;
}

/* Configurações da imagem do queijo */

/* Configurações do link */

a{
    text-decoration: none;
}

.link{
    color: #fe9915;
}

.link:hover{
    color: #181818;
}

button{
    text-decoration: none;
}

.btn-laranja{
    background-color: #fe9915;
    color: #dcdcdc;
    border-color: #fe9915;
    border-radius: 100%;
    padding: 20px 30px 20px 30px;
}

.btn-laranja:hover{
    background-color: #dcdcdc;
    color: #fe9915;
    border-color: #fe9915;
    border-radius: 100%;
    padding: 20px 30px 20px 30px;
}

/* Configurações do link */

/* responsividade */
@media screen and (max-width: 1280px) {
    
}

@media screen and (min-width:1279px) {
    
}

@media screen and (max-width:768px) {
    img{
        margin-left: 3% ;
        width: 500px;
        margin-bottom: 50px;
        object-fit: cover;
    }
}

@media screen and (max-width:530px) {
    img{
        margin-left: 3% ;
        width: 450px;
        margin-bottom: 50px;
        object-fit: cover;
    }
}

@media screen and (max-width:480px) {
    img{
        margin-top: 7%;
        margin-left: 5% ;
        width: 400px;
        object-fit: cover;
    }
    h2{
        margin: 5%;
    }
}

@media screen and (max-width:479px) {
    img{
        margin-top: 7%;
        margin-left: 5% ;
        width: 300px;
        object-fit: cover;
    }
    h2{
        margin: 5%;
    }
}
/* responsividade */