<div id="pedido">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <h1 class="escrita">Faça seu pedido</h1>
                </div>
            </div>
            <div class="col-md-7">
                <div class="d-flex justify-content-center">
                    <a href="https://api.whatsapp.com/send?phone=5511954223508" target="_blank"><i
                            class="fa fa-whatsapp fa-2x pt-4 pr-2" aria-hidden="true"></i></a><a
                        href="https://api.whatsapp.com/send?phone=5511954223508" target="_blank"
                        class="escritatexto">Nos
                        chame pelo whatsapp</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <a href="https://www.instagram.com/emporio_emcasa/" target="_blank"><i
                            class="fa fa-instagram fa-2x pt-4 pr-2" aria-hidden="true"></i>
                    </a><a href="https://www.instagram.com/emporio_emcasa/" target="_blank" class="escritatexto">Nos
                        chame pelo instagram</a>
                </div>
            </div>
        </div>
    </div>
</div>