<div id="sobre">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 alinharcomimg pl-5">
                <p class="escrita pb-6 pl-5"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit amet aspernatur ratione minus, earum consequuntur minima illum, dolores natus cumque a vero, sequi libero eum neque eaque autem possimus praesentium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati expedita esse soluta pariatur magni eligendi mollitia eum aspernatur possimus. Ex suscipit ab optio magnam? Ipsa alias iste amet tempora sapiente!
                <img src="https://i.imgur.com/vSC59Es.gif" class="esconder" alt="panela laranja saindo fumaça"></p>
            </div>
            <div class="col-md-6 d-flex align-items-end pb-5 ml-0 p-0 pl-4">
                <img class="ml-5 pb-6 esconder2" src="https://i.imgur.com/wA1TAlJ.gif" alt="panela laranja saindo fumaça"
                    width="600px">
                <img src="https://i.imgur.com/vSC59Es.gif" class="esconder3" alt="panela laranja saindo fumaça" width="650px">
            </div>
        </div>
    </div>
</div>